<!DOCTYPE html>
<html>

<head>
    <head>
        <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
</head>

<body>
    <div class="nav-container">
        <div class="has-text-success-dark is-size-4 has-text-weight-medium">
            <a href="{{ url_for('home') }}" class="larger-font">
                Home
            </a>
            &nbsp;&nbsp;
            <a href="{{ url_for('all_pages') }}" class="larger-font">
                Pages
            </a>
            &nbsp;&nbsp;
            <a href="{{ url_for('about') }}" class="larger-font">
                About
            </a>
        </div>
    </div>

    <div class="centered-container">
        <div class="content-box">
            <div class="content larger-font" style="text-align: center;"> {% block content %}{{ page_content }}{% endblock %}
            </div>
        </div>
    </div>

</body>

</html>